<header>
    <div class="jumbotron jumbotron-fluid" style="background-color: white;">
        <div class="container" >
            <h1 class="display-5">NotionClone</h1>
            <p>Welcome To The Notion Clone</p>
        </div>
    </div>
</header>