<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <body>
        @await Html.PartialAsync("_navbar")
        @await Html.PartialAsync("_header")
        <main>
            <div class="row-expand ml-5">
                @if(IsSectionDefined("Templates")){
                    <div class="row">
                        <div class="col-md-2">
                            @RenderSection("Templates",false)
                        </div>
                        <div class="col-md-10">
                            @RenderBody()
                        </div>
                    </div>
                }
                else{
                    <div class="row">
                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>  
                }  
            </div>
        </main>
        <footer class="py-5 bg-dark text-white text-center" style="margin-top: 100px;">NotionClone 2022</footer>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        @RenderSection("Scripts",false)
    </body>
</html>