<div class="card mt-3">
    <div class="card-body">
        <form action="/search" class="form-inline">
            <div class="form-group" >
                <input name="q" type="text" class="form-control mr-2" placeholder="Search"></input>
                <button type="submit" class="btn btn-danger btn-sm">Search</button>
            </div>
            
        </form>  
    </div>
</div>