
    <form action="/search" class="form-inline">
        <div class="form-group mr-0" >
            <input name="q" type="text" class="form-control mr-1" placeholder="Search"></input>
            <button type="submit" class="btn btn-danger btn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        
    </form>  