@model ProductListViewModel



@* @{
    var products = Model.Products;
} *@

@section Scripts{
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
}
<div class="row">
    <div class="col-md-8">
        <p>YOU CAN CREATE</p>
        <p>MOVIE<i class="fa-solid fa-film ml-3"></i></p>
        <p>BOOK<i class="fa-solid fa-book ml-4"></i></p>
        <p>MUSIC<i class="fa-solid fa-music ml-3"></i></p>
        <p>LISTS HERE!!</p>
    </div>
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
            {
                <a href="/home/index" class="btn btn-danger">Go To My List <i class="fa-solid fa-book"></i></a>
            }
            else
            {             
            }
    </div>
            
</div>





@* @if(products.Count==0){
    @await Html.PartialAsync("_noproduct")
}
else{
    <div class="">
        @foreach (var item in products){
            <div class="col-md-12">
                @await Html.PartialAsync("_product", item)
            </div>
        }
    </div>
}   *@
